h1 {
    text-align: center;
    font-size: 2em;
    color: maroon;
    margin: 0;
    border: 2px solid maroon;
    border-radius: 10px; 
    padding: 10px; 
    background-color: white;
}
p {
    text-align: center;
    font-size: 1.25em;
        line-height: 1.5;
        margin: 20px 0;
}
select {
    width: 30%;
    padding: 5px;
    margin: 5px 0;
}

body {
    background-color: beige;
    border-style: solid;
    border: 4px solid maroon;
        border-radius: 10px; 
        padding: 20px;
  }
  #compatibility {
    margin-top: 20px;
}
  #Message {
    font-weight: bold;
    font-size: 1.25em;
    color: maroon;
}
button {
    padding: 10px 20px;
}
  button:hover {
    background-color: white;
}
